.header {
  margin-left: 22px;
  position: relative;

  fa-icon {
    position: absolute;
    top: 0;
    font-size: 30px;

    &.lightbulb-on {
      left: 135px;
    }

    &.lightbulb {
      left: 143.5px;
    }
  }
}

.device-section {
  align-content: center;
  align-items: center;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.device-command {
  align-content: center;
  align-items: center;
  width: 100%;

  div {
    width: 100%;

    .command-label {
      width: 80px;
      float: left;
      padding-top: 13px;
    }

    .mat-slider-horizontal {
      width: calc(100% - 100px);
    }
  }

  .device-label {
    padding-right: 10px;
  }

  .light-onoff {
    padding-left: 5px;
    font-size: 9px;
  }
}

.scheduling-section {
  margin-left: 22px;

  .date-time {
    font-size: 10px;

    span {
      padding-right: 10px;
    }
  }
}
