<div>
  <div class="header">
    <h1>Lampen</h1>
    <fa-icon [icon]="['far', 'lightbulb-on']" *ngIf="oneOn" class="lightbulb-on" (click)="checkParty()"></fa-icon>
    <fa-icon [icon]="['far', 'lightbulb']" *ngIf="!oneOn" class="lightbulb" (click)="checkParty()"></fa-icon>
  </div>
  <div class="device-section" *ngFor="let device of devices">
    <div *ngFor="let command of device.commands" class="device-command">
      <div *ngIf="command.visible && command.command && command.command.indexOf('POWER') === 0" class="power">
        <mat-slide-toggle (click)="clickPower(device, command)"
          class="example-margin"
          [color]="'primary'"
          [checked]="command.powerStatus">
          <span class="device-label">{{command.label}}</span>
          <span class="light-onoff" *ngIf="command.nextOn"><fa-icon [icon]="['far', 'lightbulb-on']"></fa-icon> {{command.nextOn | date:'HH:mm'}}</span>
          <span class="light-onoff" *ngIf="command.nextOff"><fa-icon [icon]="['far', 'lightbulb']"></fa-icon> {{command.nextOff | date:'HH:mm'}}</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="command.visible && command.command === 'Dimmer'">
        <div class="command-label">Dimmer</div> <mat-slider min="0" max="100" step="1" [(ngModel)]="command.dimmerValue" (change)="setDeviceValue(device, command)"></mat-slider>
      </div>
      <div *ngIf="command.visible && command.command === 'Color'">
        <div class="command-label">Color wit</div> <mat-slider min="0" max="255" step="1" [(ngModel)]="command.colorValue1" (change)="setDeviceValue(device, command)"></mat-slider><br/>
        <div class="command-label">Color rood</div> <mat-slider min="0" max="255" step="1" [(ngModel)]="command.colorValue2" (change)="setDeviceValue(device, command)"></mat-slider>
      </div>
    </div>
  </div>
  <div class="device-section">
    <div class="device-command">
      <div class="power">
        <mat-slide-toggle (click)="all()"
                          class="example-margin"
                          [color]="'primary'"
                          [checked]="oneOn">
          <span class="device-label" *ngIf="oneOn">Alles uit</span>
          <span class="device-label" *ngIf="!oneOn">Alles aan</span>
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="scheduling-section">
    <mat-checkbox class="example-margin" [color]="'primary'" [(ngModel)]="fromHome" (change)="clickFromHome($event)">Van huis</mat-checkbox><br/>
    <div *ngIf="currentDateTime" class="date-time">
      <span>{{currentDateTime.current | date:'dd-MM-yyyy HH:mm'}}</span>
      <fa-icon [icon]="['far', 'sunrise']"></fa-icon><span class="date-time">{{currentDateTime.sunrise | date:'HH:mm'}}</span>
      <fa-icon [icon]="['far', 'sunset']"></fa-icon><span class="date-time">{{currentDateTime.sunset | date:'HH:mm'}}</span>
    </div>
  </div>
</div>
